@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.1);
  min-width: fit-content;
}

html {
  width: 100%;
}

body {
  height: 100vh;
  overflow: auto;
  margin: 0;
  overflow: hidden;
}

img {
  width: 100px;
  height: 100px;
}

.video-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh !important;
  z-index: 0; /* Changes the position on the z axis of an item on the webpage i.e which element/item comes before the other, lower means further back, higher means further forwards */
}

.video-background video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Force covering the entire page */
  z-index: -1;
  pointer-events: none; /* Prevent interaction (pointer is the cursor) */
}

.video-background video::-webkit-media-controls {
  display: none;
}

.navigation {
  z-index: 1;
  position: relative;
  bottom: 200px;
  right: 800px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.content {
  z-index: 1;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  font-size: 80px;
  position: relative;
  bottom: 150px;
  margin-top: 0 !important; /* Remove top margin */
  transition: -webkit-text-stroke 0.4s ease, color 0.4s ease;
}

h1:hover {
  -webkit-text-stroke: 3px #fff;
  color: transparent;
}

.admissionNo {
  font-size: 60px;
  position: relative;
  bottom: 150px;
}

.here {
  font-size: 50px;
  position: relative;
  bottom: 100px;
}

button {
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 3px;
/*   padding: 12px;
  margin: 10px; */
  width: 250px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  z-index: 10; /* Ensure buttons are above other elements */
  position: relative; /* Ensure buttons are positioned correctly */
  transition: 0.4s ease;
}

button:hover {
  width: 260px;
  height: 60px;
  background-color: #ffffff3a;
}

@media screen and (max-width: 1681px) {
  .navigation {
    display: none;
  }
}

@media screen and (max-width: 938px) {
  h1 {
    margin-top: 250px;
  }
}

@media screen and (max-width: 685px) {
  h1 {
    margin-top: 0;
    font-size: 40px;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}
