@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.1);
  min-width: fit-content;
}

html,
body {
  height: 100vh;
  min-width: 563px;
}

.video-background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100% !important;
  z-index: 0; /* Changes the position on the z axis of an item on the webpage i.e which element/item comes before the other, lower means further back, higher means further forwards */
}

.video-background video {
  position: fixed;
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Force covering the entire page */
  z-index: -1;
  pointer-events: none; /* Prevent interaction (pointer is the cursor) */
}

.video-background video::-webkit-media-controls {
  display: none; /* Completely stops stock browser media controls from showing */
}

.content {
  z-index: 1;
  color: white;
  text-align: center;
  position: relative;
  top: 180px;
}

img {
  width: 100px;
  height: 100px;
  transition: 0.4s;
}

img:hover {
  width: 120px;
  height: 120px;
  transform: translateY(10px);
}

.name {
  color: #fff;
  position: relative;
  -webkit-text-stroke: 1px #fff;
  font-size: 40px;
  padding-bottom: 40px;
  transition: -webkit-text-stroke 0.4s ease, color 0.4s ease;
}

.name:hover {
  -webkit-text-stroke: 3px #fff;
  color: transparent;
}

.admissionNo {
  font-size: 60px;
  padding-bottom: 30px;
}

.here {
  font-size: 50px;
  padding-bottom: 30px;
}

button {
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 3px;
  /*   padding: 12px;
  margin: 10px; */
  width: 250px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  width: 260px;
  height: 60px;
  background-color: #ffffff3a;
}

button:focus {
  width: 240px;
  height: 40px;
  background-color: transparent;
  transition: 0.4s ease-in-out;
}

@media (min-aspect-ratio: 16/9) {
  .video-background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}
